<p> We understand. You want to change your information. Fine. Here you go.
</p>



<%= form_for @user do |f| %>
<p><%= f.label "First Name" %></p>
  <p> <%= f.text_area :fname %> </p>
<p> <%= f.label "Username" %> </p>
  <p> <%= f.text_area :username %> </p>
<p> <%= f.label "Email" %> </p>
  <p> <%= f.text_area :email %> </p>
<p> <%= f.label "Home" %> </p>
  <p> <%= f.text_area :home %> </p>
<p> <%= f.label "Password" %> </p>
  <p> <%= f.text_area :password %> </p>


  <%= f.submit "Update" %>
<% end %>

<%= link_to 'Delete Your Account', user_path(@user), method: :delete %>

