<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome Page</title>
</head>
<body>
<h1>
	Scoop

</h1>

<h2>Register for Scoop</h2>	
<div>
<%= form_for @user do |f| %>
    <div>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>
    <div>
        <%= f.label :fname %>
        <%= f.text_field :fname %>
    </div>
    <div>
        <%= f.label :home %>
        <%= f.text_field :home %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.label :age %>
        <%= f.text_field :age %>
    </div>
    <div>
        <%= f.submit 'Create Account' %>
    </div>
<% end %>
</div>
<h2>Log In to Scoop</h2>
<div>

<%= form_for @showuser do |f| %>
    <div>
        <%= f.label :fname %>
        <%= f.text_field :fname %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.submit 'Log In' %>
    </div>
<% end %>
</div>
</body>
</html>
