<h1>Users#myprofile</h1>
<p>Find me in app/views/users/myprofile.html.erb</p>
<h1>Welcome to your profile, <%= @user.fname %></h1>
<div>

	<p>
	 <%= link_to "Log Out", "/login" %></p>


    <h2> Profile Details </h2>
</div>
<br>
<br>
<p>
	Name : <%= @user.fname %>
</p>
<p>
	Username: <%= @user.username %> 
</p>
<p>
	Age: <%= @user.age %>
</p>
<p>
	Home: <%= @user.home %>
</p>
<p>
	Email: <%= @user.email %>
</p>
<p>User Since: <%= @user.created_at.strftime("%B %d, %Y") %>
</p>
<p>Last Profile Update: <%= @user.updated_at.strftime("%B %d, %Y")%> 
</p>

<%= link_to "Edit Your profile", edit_user_path(@user) %>


<h2>Your Comments</h2>
<% @user.comments.each do |uc| %>
<p><%= uc.comment %> </p>
<p><%= uc.updated_at.strftime("%B %d, %Y") %> </p>
<% end %>
<br>
<h2>Your Posts</h2>
<br>
<% @user.posts.each do |up|%>
<h3> <%= link_to up.topic, post_path(up) %> </h3>	
<p> <%= up.content %></p>
<p> <%= up.updated_at.strftime("%B %d, %Y") %> </p>
<% end %>
<% if @user.posts.length == 0 %>
	<p>
		"You have no posts..." </p>	
		<p><%=  link_to "Make a post!", "/posts/new" %> </p>	
<% end %>
<% if @user.posts.length > 0 %>
	<p>
		Keep it up! </p>	
		<p><%=  link_to "Make a new post for everyone to see!","/posts/new" %> </p>	
<% end %>

<h2> <%= link_to "See all Users", "/users/all" %> </h2>

