<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div>
<h2>Welcome to <%= @username %>'s Profile </h2>
</div>


<div>
<h2><%= @fname %>'s Bio:</h2>
</div>

<div>
	<strong>Home:</strong> <%= @user.home %> 
	<br>
	<strong>Email:</strong> <%= @user.email %><br>
	<strong> Age:</strong> <%= @user.age %><br>
	<strong>Member Since:</strong> <%= @user.created_at.strftime("%B %d, %Y") %>
</div>
<div>
<p>See <%= @user.fname %>'s Posts 
	<br>
	<% @upost.each do |p|%>
	<strong><%= p.topic %></strong>
	<p><%= p.content %></p>
	<p><%=p.created_at.strftime("%B %d, %Y") %></p>
	<!-- <p><a href="">See Full Post</a></p> -->
	<p><%= link_to 'See Full Post', post_path(p) %></p>
	<% end %>
</div>