

Want to change or take back what you said? Do it here:

<%= form_for @post  do |f| %>
<p>
	<%= f.label :topic %><br>
	<%= f.text_field :topic %>
</p>
<p>
<%= f.label :content %>
<%= f.text_area :content %>	
</p>
<p><%= f.submit %>
</p>
<% end %>

<%= link_to 'Delete this post', post_path(@post), method: :delete %>