
<h1>What's up <%= @user.username %>? </h1>
<%= form_for Post.new, url: posts_path do |f| %>
<p>
	<%= f.label :topic %><br>
	<%= f.text_field :topic %>
</p>
<p>
<%= f.label :content %>
<%= f.text_area :content %>	
</p>
<p><%= f.submit %>
</p>
<% end %>