<!DOCTYPE html>
<html>
  <head>
    <title>Workshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if session[:user_id] != nil %>
  <div class="nav-wrapper"><nav>
  <ul>
  <li><%= link_to 'Scoop', '/' %></li>
  <li><%= link_to 'All Posts', posts_path  %></li>
  <li><%= link_to 'All Users', users_all_path %></li>
  <li><%= link_to 'Your Home Page', myprofile_path %></li>
  <li><%= link_to 'Sign Out',logout_path, method: :delete %></li>
</ul>
  </nav>
  </div>
  <% end %>
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
            

  </head>

  <body>



    <%= yield %>
  </body>
</html>
